@import "tailwindcss";

.animate-pop {
  animation: pop 1s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@font-face {
  font-family: "Number";
  src: url("../fonts/number.otf");
}

.countdown {
  font-family: "Number";
}
